spring.datasource.druid.main.url=jdbc:mysql://localhost:2697/wydy?useUnicode=true&characterEncoding=UTF8&autoReconnect=true
spring.datasource.druid.main.username=****
spring.datasource.druid.main.password=****
spring.datasource.druid.main.driver-class-name=com.mysql.jdbc.Driver

app.server.wsPath=https://wydy.shop
app.server.env=publish